<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Записная книжка</title>
</head>
<body>
  Записная книжка

  <ul>
  <% for(let i = 0; i < contacts.length; i++) {%>
    <li>
      <input type="text" placeholder="Фамилия" id="secondName<%= i %>" value="<%= contacts[i].secondName %>">
      <input type="text" placeholder="Имя" id="firstName<%= i %>" value="<%= contacts[i].firstName %>">
      <input type="text" placeholder="Отчество" id="middleName<%= i %>" value="<%= contacts[i].middleName %>">
      <input type="tel" placeholder="Телефон" id="phone<%= i %>" value="<%= contacts[i].phone %>">
      <button onclick="delContact('<%= contacts[i]._id %>')">Удалить контакт</button>
      <button onclick="putContact('<%= contacts[i]._id %>', <%= i %>)">Сохранить контакт</button>
    </li>
  <% } %>
  </ul>

  <p>
  <form action="/contacts" method="POST">
    <input type="text" placeholder="Фамилия" name="secondName" required>
    <input type="text" placeholder="Имя" name="firstName" required>
    <input type="text" placeholder="Отчество" name="middleName">
    <input type="tel" placeholder="Телефон" name="phone" required>
    <button type="submit">Добавить контакт</button>
  </form>
  </p>

  <p>
  <form action="/contacts" method="GET">
    <input type="text" placeholder="Фамилия" name="secondName">
    <input type="text" placeholder="Имя" name="firstName">
    <input type="text" placeholder="Отчество" name="middleName">
    <input type="tel" placeholder="Телефон" name="phone">
    <button type="submit">Отфильтровать контакты</button>
  </form>
  </p>

  <script>
	function delContact(contact_id, index) {
	  fetch('contacts', {
	    method: 'delete',
	    headers: {
	      'Content-Type': 'application/json'
	    },
	    body: JSON.stringify(
		{
     		 'contact_id': contact_id
	    	})
	  }).then(function (response) {
	    window.location.reload()
	  })		
	}

	function putContact(contact_id, index) {
	  fetch('contacts', {
	    method: 'put',
	    headers: {
	      'Content-Type': 'application/json'
	    },
	    body: JSON.stringify({
	      'contact_id': contact_id,
	      'contact': {
	        'secondName': document.getElementById('secondName' + index).value,
	        'firstName': document.getElementById('firstName' + index).value,
	        'middleName': document.getElementById('middleName' + index).value,
	        'phone': document.getElementById('phone' + index).value
	       }
	    })
	  }).then(function (response) {
	    window.location.reload()
	  })		
	}
  </script>


</body>
</html>