<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Записная книжка</title>
</head>
<body>
  Записная книжка

  <ul>
  <% for(let i = 0; i < contacts.length; i++) {%>
    <li>
      <span><%= contacts[i].secondName %></span>
      <span><%= contacts[i].firstName %></span>
      <span><%= contacts[i].middleName %></span>
      <span><%= contacts[i].phone %></span>
      <button onclick="delContact('<%= contacts[i]._id %>')">Удалить контакт</button>
    </li>
  <% } %>
  </ul>

  <p>
  <form action="/contacts" method="POST">
    <input type="text" placeholder="Фамилия" name="secondName" required>
    <input type="text" placeholder="Имя" name="firstName" required>
    <input type="text" placeholder="Отчество" name="middleName">
    <input type="tel" placeholder="Телефон" name="phone" required>
    <button type="submit">Добавить контакт</button>
  </form>
  </p>

  <p>
  <form action="/contacts" method="GET">
    <input type="text" placeholder="Фамилия" name="secondName">
    <input type="text" placeholder="Имя" name="firstName">
    <input type="text" placeholder="Отчество" name="middleName">
    <input type="tel" placeholder="Телефон" name="phone">
    <button type="submit">Отобрать контакты</button>
  </form>
  </p>

  <script>
	function delContact(contact_id) {
	  fetch('/contacts', {
	    alert(contact_id)
	    method: 'delete',
	    headers: {
	      'Content-Type': 'application/json'
	    },
	    body: {
		contact_id: contact_id
	    }
	  }).then(function (response) {
	    window.location.reload()
	  })		
	}

	function putContact(contact_id, contact) {
	  fetch('/contacts', {
	    method: 'put',
	    headers: {
	      'Content-Type': 'application/json'
	    },
	    body: {
		contact_id: contact_id,
		contact: contact
	    }
	  }).then(function (response) {
	    window.location.reload()
	  })		
	}
  </script>


</body>
</html>